@model Analise

<div class="d-flex flex-row justify-content-center" id="container-detalhe">

    <div id="widgetbox" class="modal-content">
        <i style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#largeModal" class="fa fa-picture-o" id="iconWidget" aria-hidden="true"></i>
        <img style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalProgress" src="/images/29472.png" alt="DWG" id="iconDwg" href="#" width="25" height="25">
    </div>

    <div class="modal-content">
        <div class="modal-header bg-primary p-2 position-relative">
            <a style="font-size:0.9rem; font-weight: 600;" class="text-white text-decoration-none">
                -- Ficha Técnica - Análise de Testes Ópticos --
            </a>
        </div>
        <div class="modal-body">
            <div id="displayDetalheFtth">
                <!-- Condição Nula do Modal -->
                @if (Model != null)
                {
                    <table id="ftthDetalhe">
                        <tr>
                            <td align="center" colspan="2"><a>@Model.TesteOptico.Estacao.Estado.Regiao.Nome</a></td>
                        </tr>
                        <tr>
                            <td align="center"><a>@Model.TesteOptico.Estacao.Estado.Nome</a></td>
                            <td align="center"><a>@Model.TesteOptico.Construtora.Nome</a></td>
                        </tr>
                        <tr>
                            @if (Model.Status == 0)
                            {
                                 <td style="color: red;" align="center" colspan="2"><a>REPROVADO</a></td>
                            }
                            else
                            {
                                <td style="color: green;" align="center" colspan="2"><a>APROVADO</a></td>
                            }
                         </tr>
                        <tr>
                            <td>Estação: <a>@Model.TesteOptico.Estacao.NomeEstacao</a></td>
                            <td>Tipo Obra: <a>@Model.TesteOptico.TipoObra.Nome</a></td>
                        </tr>
                        <tr>
                            <td>Fabricante: <a>@Model.TesteOptico.Fabricante</a></td>
                            <td>Modelo: <a>@Model.TesteOptico.Modelo</a></td>
                        </tr>
                        <tr>
                            <td align="center"  colspan="2"><a id="IndexCdo">--- @Model.TesteOptico.CDO ---</a></td>
                        </tr>
                         <tr>
                            <td>Cabo: <a>@Model.TesteOptico.Cabo</a></td>
                            <td>Celula: <a>@Model.TesteOptico.Celula</a></td>
                         </tr>
                        <tr>
                            <td>Capacinade: <a>@Model.TesteOptico.Capacidade</a></td>
                            <td>Total UMs: <a>@Model.TesteOptico.TotalUms</a></td>
                        </tr>
                        <tr>
                            <td>Bobina Lançamento: <a>@Model.TesteOptico.BobinadeLancamento</a></td>
                            <td>Posição ICX/DGO: <a>@Model.TesteOptico.PosicaoICX_DGO</a></td>
                        </tr>
                        <tr>
                            <td>Bobina de Recepção: <a>@Model.TesteOptico.BobinadeRecepcao</a></td>
                            <td>Splitter CEOS: <a>@Model.TesteOptico.SplitterCEOS</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Localização: <a>@Model.TesteOptico.Endereco</a></td>
                        </tr>
                        <tr id="tblHstContainer">
                            <td align="center" class="p-0 m-0" colspan="2">

                                <table id="tblAnaliseTec">
                                    <thead>
                                        <tr id="titleHstAnalise">
                                            <th colspan="7">
                                                <a>Analise Ténica</a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th width="5%">
                                                <a>#</a>
                                            </th>
                                             <th>
                                                <a>Analista</a>
                                             </th>
                                            <th>
                                                <a>Data</a>
                                            </th>
                                            <th>
                                                <a>Status</a>
                                            </th>
                                            <th width="5%">
                                            </th>
                                            <th width="5%">
                                            </th>
                                            <th width="5%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="listaHstAnalise">
                                        <!-- CARREGAR HISTORICO JQUERY -->
                                        <tr>
                                            <td style="border:0;" colspan="5">
                                                <div class="d-flex justify-content-center">
                                                    <div class="spinner-border text-secondary m-5" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                   </tbody>
                                </table>

                            </td>
                        </tr>
                      </table>

                    <div class="modal-footer">
                        <a role="button" id="btnRoles" asp-controller="Analise" asp-action="Index" class="btn btn-secondary">Voltar</a>
                        <button role="button" id="btnRoles" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning analise">Analisar</button>
                    </div>
                }
                <!-- End condição -->
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!--Conteudo Display-->
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-secondary m-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div> 
            <!-- End -->

        </div>
    </div>
</div>
<!-- End Modal -->

<!-- Modal -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header m-0 p-0">
                <a class="modal-title w-100 text-center">-- Teste Óptico | IMAGENS --</a>
                <button type="button" id="close-model" class="close m-0 p-0" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body-img">
                <!--Conteudo Display-->
                <!-- End -->
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- Modal Progress -->
<div class="modal fade" id="modalProgress" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <!--Conteudo Display-->
                <div id="progressModel" role="alert">
                    <h5 class="alert-heading">DWG -> PDF</h5>
                    <p>O sistema está preparando a visualização no formato PDF.</p>
                    <hr>
                    <div class="progress mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        </div>
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

@section Scripts
    {
    <script>
        //FUNÇÃO REPONSÁVEL PELAS ACÕES JS/JQUERY DA VIEW DETAHLE
        function AnaliseDetalhe() {
            //VARIAVEL GLOBAL
            var sgl = "@Model?.TesteOptico.Estacao.Sigla";
            var cdo = "@Model?.TesteOptico.CDO";
            var testeOpticoId = "@Model?.TesteOpticoId";

            //SPINNER LOADER
            function spinnerFtth(display) {
                $(display).html(`
                          <div class= "d-flex justify-content-center">
                            <div class="spinner-border text-secondary m-5" role="status">
                                 <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                         `)
            }

            function task(i) {
                setTimeout(function () {
                    $("#progressbar").width(i + "%");
                }, 100 * i);
            }

            $.get('@Url.Action("FileResultImg", "TesteOptico")?sgl=' + sgl + '&cdo=' + cdo,
                {}, function (data) {
                    if (data.imagemOptica != true) {
                        $("#iconWidget").removeAttr("data-bs-target");
                        $("#iconWidget").removeAttr("data-bs-toggle");
                        $("#iconWidget").removeAttr("style")
                        $("#iconWidget").css({ "color": "#ced4da" });
                    } else {
                        //CARREGAR IMAGEM NO MODAL
                        $('#iconWidget').on('click', function () {
                            let dir = '@Url.Action("ImgOptico", "TesteOptico")?sgl=' + sgl + '&cdo=' + cdo;

                            $.get(dir,
                                {}, function (resposta) {
                                    $('.modal-body-img').html(resposta);
                                    return false;
                                });
                            return false;
                        });
                    }
                    return false;
                });

            $.get('@Url.Action("FileResultDwg", "TesteOptico")?sgl=' + sgl + '&cdo=' + cdo,
                {}, function (data) {
                    if (data.dwgToPdf != true) {
                        $("#iconDwg").removeAttr("data-bs-target");
                        $("#iconDwg").removeAttr("data-bs-toggle");
                        $("#iconDwg").removeAttr("style")
                        $("#iconDwg").css({ "opacity": "0.2" });
                    } else {
                        //CARREGAR DWG NO MODAL
                        $('#iconDwg').on('click', function () {

                            let i = 0;
                            while (i < 65) {
                                task(i)
                                i++;
                            };

                            let dirFile = '@Url.Action("DwgOptico", "TesteOptico")?sgl=' + sgl + '&cdo=' + cdo;
                            let dirFileMemory = '@Url.Action("DwgView", "TesteOptico")';

                            $.ajax({
                                type: "GET",
                                url: dirFile,
                                xhrFields: {
                                    onprogress: function (e) {
                                        if (e.lengthComputable) {
                                            var percentComplete = (e.loaded / e.total) * 100;
                                            if (percentComplete > 65) {
                                                $("#progressbar").width(percentComplete + "%");
                                            }
                                        }
                                    }
                                },
                                success: function () {
                                    setTimeout(function () {
                                        location.href = dirFileMemory;
                                    }, 2000);
                                }
                            });
                        });
                    }
                    return false;
                });
     
             //CARREGAR HISTÓRICO DE ANALISE
            $.get('../GetHistoricoAnalise?id='+testeOpticoId,
                    {}, function (resposta) {
                    //VARIAVEL TBODY ANALISE
                    var tabelaBody = $("#listaHstAnalise");
                    //LIMPAR HISTORICO ANTES DO PREENCHIMENTO.
                    tabelaBody.empty();
                    //ADICIONAR STYLO CORRESPONDENTE A CADA STATUS
                    var style = "";
               
                    //LISTAR HISTORICO DE ANALISE TECNICA
                    $.each(resposta.historico, function (index, item) {
                        //CONDIÇÃO DE FORMATAÃO DE ACORDO COM STATUS
                        if(item.status == 0){
                            style = "tblStyleHstAnaliseaNG";

                        }else{
                            style = "tblStyleHstAnaliseAP";
                        }
                        //CRIAR <TR>
                        var row = $("<tr></tr>");

                        //ADICONAR <TD> A <TR>
                        $("<td></td>").text(index + 1).addClass(style).appendTo(row);
                        $("<td></td>").text(item.tecnico.nome).addClass(style).appendTo(row);

                        //TRATA EXIBIÇÃO DE DATA
                        var dataObj = new Date(item.dataAnalise);
                        var dia = dataObj.getDate();
                        if (dia < 10) {
                            dia = '0' + dia;
                        }
                        var mes = dataObj.getMonth() + 1
                        if (mes < 10) {
                            mes = '0' + mes;
                        }
                        var ano = dataObj.getFullYear();
                        var dataFormatada = dia + "/" + mes + "/" + ano;
                        $("<td></td>").text(dataFormatada).addClass(style).appendTo(row);

                        //CONDIÇÃO STATUS 1 != 0 APROVADO OU REPROVADO
                        if (item.status == 0) {
                            $("<td></td>").text("REPROVADO").addClass(style).appendTo(row);
                        }else{
                            $("<td></td>").text("APROVADO").addClass(style).appendTo(row);
                        }
                        //ADICIONAR BUTTON ICON VISUALIZAR
                        var tdButtonViewer = $("<td></td>").addClass(style);
                        var viewer = $("<i></i>").addClass("fa fa-list icon-tblAnalise");
                        tdButtonViewer.append(viewer);
                        row.append(tdButtonViewer);

                        //ADICIONAR BUTTON ICON EDITAR
                        let tdButtonEditar = $("<td></td>").addClass(style);
                        let editar = $("<i></i>").addClass("fa fa-pencil icon-tblAnalise");
                        tdButtonEditar.append(editar);
                        row.append(tdButtonEditar);

                        //ADICIONAR BUTTON ICON EXCLUIR
                        let tdButtonExcluir = $("<td></td>").addClass(style);
                        let excluir = $("<i></i>").addClass("fa fa-trash icon-tblAnalise");
                        tdButtonExcluir.append(excluir);
                        row.append(tdButtonExcluir);

                        //ALIMENTAR A TABELA
                        row.appendTo(tabelaBody);
                    
                    });
                    return false;
                    });

            //FUNÇÃO GET CARREGAR ADD INSERT VIEW E CHAMAR O COLLAPSE MODAL
            function AddInsertModal(url) {
                $.get(url,
                    {}, function (resposta) {
                        //ATUALIZAR
                        AtualizarModalInsert(resposta);
                        return false;
                    });
            }

            //ATUALIZAR MODAL INSERT
            function AtualizarModalInsert(resposta){
                //CARREGAR SPINNER LOADER
                spinnerFtth('#exampleModal .modal-content');

                //EDITAR MODAL HEADER
                $('#exampleModal .modal-content').html(`
                                        <i style="font-size:1.5rem;" class="fa fa-exclamation-circle position-absolute start-0 ms-2 text-white aria-hidden="true""></i>
                                        <a style="font-size:0.9rem; font-weight: 600;" class="text-white text-decoration-none">
                                           -- INSERIR --
                                        </a>
                                     `);

                //CARREGAR PARTIAL VIEW
                $('#exampleModal .modal-content').html($(resposta).html());

                //REMOVER ATRIBUTOS
                $('#exampleModal .modal-content form').removeAttr('action');
                $('#exampleModal .modal-content form').removeAttr('method');
                $('#exampleModal .modal-content form').removeAttr('asp-controlle');
                $('#exampleModal .modal-content form').removeAttr('asp-action');

                //EDITAR MODAL FOOTER
                $('#exampleModal .modal-content .modal-footer').html(`
                                                <button type="button" id="submit" class="btn btn-primary mt-2">Inserir</button>
                                        <button type="button" onclick="location.href='@Url.Action("Detalhe", "Analise", new {id = Model?.TesteOpticoId})'" class= "btn btn-secondary mt-2 me-2">Fechar</button>
                                    `);

                //CASO O BOTÃO NÃO SEJA ACIONADO, FECHAR A ALERT 10S
                setTimeout(function () {
                    $('#exampleModal .modal-content .alert').hide('hide');
                }, 10000);

                //BOTÃO FECHAR ALERTA
                $('#exampleModal .modal-content .close-alert').click(function () {
                    $('.alert').hide('hide');
                });

                //CARREGAR EVENTO
                EventInsertModel();

            }

            //AÇÃO INSERT BUTTON ADD ANALISE MODAL
            $('.analise').click(function () {
                //CARREGAR FUNÇÃO INSERT ADD MODAL
                AddInsertModal('@Url.Action("Inserir", "Analise")?id=' + testeOpticoId);
                return false;
            });

        } (AnaliseDetalhe())

        //FUNÇÃO DE TRATAMENTO JSON FORMULÁRIO RESPONSE PARA POST CONTROLLER
        function JsonFormPost() {
            //VARIAVEL RECEBE E SERIALIZA OS DADOS DO FORMULÁRIO
            let json = $('.modal-content #formEditar input').serializeArray();

            //VARIAVEL DE TRATAMENTO
            var obj = {};

            //PERCORRER VARIAVEL JSON
            $.each(json, function () {
                //INTERRAR E ARMAZENAR VALORES
                obj[this.name] = this.value || '';
            });
            return obj;
        }

        //FUNÇÃO VALIDAR E INSERIR DADOS DO FORMULÁRIO VIA POST JQUERY
        function InsertValidarModal(url, model, ativar) {
            //VALIDAÇÃO DE FORMULÁRIO MODAL
            'use strict'

            //PEGAR DOM DO FORMULARIO BOOTSTRAP PARA VALIDAÇÃO
            var forms = document.querySelectorAll('.modal-content form');

            //PERCORRER PROPS IMPUT EVENT
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();

                    } else {
                        if (ativar == true) {
                            //EFETUAR REQUISIÇÃO POST
                            $.post(url,
                                {
                                    [model]: JsonFormPost()
                                }, function (resposta) {
                                    //ATUALIZAR MODAL INSERT
                                    AtualizarModalInsert(resposta);
                                    return false;
                                });
                        }
                    }
                    //CARREGAR VALIDAÇÃO
                    form.classList.add('was-validated');
                    return false;
                });
        }

        function EventInsertModel() {
            $('.modal-content form').on('click', '#submit', function () {
                //FILTRA ENTRADA MODEL DA REQUISIÇÃO
                switch ($('.modal-content #formEditar').attr('name')) {
                    case "analiseInsert":
                        //INSERIR ANALISE
                        InsertValidarModal('../Inserir', 'analiseInsert', true);
                        console.log("Rodou")
                        break;
                    default:
                        return false;
                }
            });
        }

    </script>
    }


