@model Analise

<div id="formInsert" class="d-flex flex-row justify-content-center">
    <div style="width:600px;">
        <!-- Formulário para edição -->
        <form asp-controller="Analise" asp-action="Inserir" method="post" class="needs-validation" novalidate>
            <input type="hidden" name="TesteOpticoId" value="@Model.TesteOpticoId">
            <div class="bg-primary text-center text-white p-1" style="font-size:0.8rem; font-weight:600;"><a>-- INSERIR ANALISE --</a></div>
                <div id="formEditar" name="analiseInsert" class="row">
                <div class="form-group col">
                    <label>Data da Analise:</label>
                    <input type="text" value="@DateTime.Now" name="DataAnalise" class="form-control" maxlength="50" disabled required>
                    <div class="invalid-feedback">Campo Obrigatório.</div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col">
                    <label>Técnico Analista:</label>
                    <input type="text" name="TecnicoId" class="form-control" maxlength="50" required>
                    <div class="invalid-feedback">Campo Obrigatório.</div>
                </div>
                <div class="form-group col">
                    <label>Status:</label>
                    @Html.DropDownList("statusList", new SelectList(ViewBag.selectStatusFilter,"Value", "Text"), "--Selecionar--",new { @id="dropStatusAnalise", @class="custom-select", required = ""})
                    <div class="invalid-feedback">Campo Obrigatório.</div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col">
                    <label>Observação:</label>
                    <textarea type="text" name="Observacao" class="form-control" maxlength="50" required></textarea>
                    <div class="invalid-feedback">Campo Obrigatório.</div>
                </div>

                <!-- INSERÇÃO DE CDOIA -->
                <div id="cdoiArea">
                    <!-- CONTEUDO -->
                    <table id="tblCdoia">
                        <thead>
                        <tr>
                            <td id="tliCdoia" colspan="6" align="center"><a>SELECIONAR CDOIA - @Model.TesteOptico.CDO</a></td>
                        </tr>
                            <tr id="txtCdoiaNunber">
                            <td colspan="6">
                                <a>
                                    @Model.TesteOptico.CDO.
                                    <input id="inputCdoia" type="number" min="1" value="1" />
                                    <i id="addCdoia" class="fa fa-plus-circle" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        </thead>
                        <tbody id="tblCdoiaContent">
                            <!-- CONTEUDO TBL CDOIA -->
                        </tbody>
                    </table>

                </div>
                <!-- END CDOIA -->

                <div class="modal-footer p-0 m-0 mt-4">
                    <button type="submit" class="btn btn-primary mt-4 ms-2">Editar</button>
                    <a role="button" asp-action="Index" asp-controller="Analise" id="btnRoles" class="btn btn-secondary mt-4 me-2">Voltar</a>
                </div>
            </div>
        </form>
        <!-- End Formulário-->
    </div>
</div>

