@using ControleGestaoFtth.Models.ViewModel;
@model AnaliseView;

<div id="formInsert" class="d-flex flex-row justify-content-center">
    <div style="width:600px;">
       <!-- Formulário para edição -->
        <form asp-controller="Analise" asp-action="Inserir" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            <input type="hidden" name="TesteOpticoId" value="@Model.TesteOptico.Id">
            <input type="hidden" name="Uf" value="@Model.TesteOptico.Estacao.Estado.Uf">
            <input type="hidden" name="Slg" value="@Model.TesteOptico.Estacao.Sigla">
            <input type="hidden" name="Cdo" value="@Model.TesteOptico.CDO">
            <div class="bg-primary text-center text-white p-1" style="font-size:0.8rem; font-weight:600;"><a>-- INSERIR ANALISE --</a></div>
                <div id="formEditar" name="analiseInsert" class="row">
                <!-- Table info -->
                <div class="form-group col">
                    <table id="tblInfo" style="margin-bottom: 0.5rem;">
                    <tr>
                        <td colspan="2" align="center" style="background-color: #b9b9b9"><a id="tblTxtCenter">@Model.TesteOptico.Estacao.Estado.Regiao.Nome</a></td>
                    </tr>
                    <tr>
                        <td width="50%"><a>@Model.TesteOptico.Estacao.Estado.Nome</a></td>
                        <td width="50%"><a>@Model.TesteOptico.Construtora.Nome</a></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><a id="tblTxtCenter">--- @Model.TesteOptico.CDO ---</a></td>
                    </tr>
                    <tr>
                        <td><a>Estação: @Model.TesteOptico.Estacao.NomeEstacao</a></td>
                        <td><a>Tipo Obra: @Model.TesteOptico.TipoObra.Nome</a></td>
                    </tr>
                </table>
                </div>
                <!-- End table -->
                <div class="w-100"></div>
                <div class="form-group col">
                    <label>Data da Analise:</label>
                    <input type="text" value="@DateTime.Now.ToString("d")" name="DataAnalise" class="form-control" maxlength="50" disabled required>
                    <div class="invalid-feedback">Campo Obrigatório.</div>
                </div>
                 <div class="form-group col">
                      <label>Carregar Arquivos:</label>
                     <div id="prtImgCdoia">
                         <div id="ptrIconUpload">
                             <label for="files">
                            <i id="imgCdoia" style="cursor:pointer; font-size:0.9rem;" class="fa fa-upload" aria-hidden="true"></i>
                            </label>
                            <input type="file" class="d-none" id="files" name="files" accept=".jpg, .jpeg, .png, .gif, .bmp, .dib, .jfif, .tiff, .tif, .dwg" multiple />
                         </div>
                         <div id="ptrTxtUpload">
                            <a>0 Arquivos</a>
                         </div>
                     </div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col">
                    <label>Técnico Analista:</label>
                    <input type="text" name="TecnicoId" class="form-control" maxlength="50" required>
                    <div class="invalid-feedback">Campo Obrigatório.</div>
                </div>
                <div class="form-group col">
                    <label>Status:</label>
                    @Html.DropDownListFor(model => model.Analise.Status, new SelectList(ViewBag.selectStatusFilter,"Value", "Text"), "--Selecionar--",new { @id="dropStatusAnalise", @class="custom-select", required = ""})
                    <div class="invalid-feedback">Campo Obrigatório.</div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col">
                    <label>Observação:</label>
                    <textarea type="text" name="Observacao" class="form-control" maxlength="50" required></textarea>
                    <div class="invalid-feedback">Campo Obrigatório.</div>
                </div>
                <div class="w-100"></div>
                <!-- Table info -->
                <div class="form-group col">
                    <table id="tblInfo" style="margin-top: 0.5rem;">
                        <tr>
                            <td width="50%"><a>Bobina Lançamento: @Model.TesteOptico.BobinadeLancamento</a></td>
                            <td width="50%"><a>Posição ICX/DGO: @Model.TesteOptico.PosicaoICX_DGO</a></td>
                        </tr>
                        <tr>
                            <td><a>Bobina Recepção: @Model.TesteOptico.BobinadeRecepcao</a></td>
                            <td><a>Splitter CEOS: @Model.TesteOptico.SplitterCEOS</a></td>
                        </tr>
                    </table>
                </div>
                <!-- End Table -->

                <!-- INSERÇÃO DE CDOIA -->
                <div id="cdoiArea">
                    <!-- CONTEUDO -->
                    <table id="tblCdoia">
                        <thead>
                        <tr>
                            <td id="tliCdoia" align="center"><a>SELECIONAR CDOIA - @Model.TesteOptico.CDO</a></td>
                        </tr>
                            <tr id="txtCdoiaNunber">
                            <td>
                                <a>
                                    @Model.TesteOptico.CDO.
                                    <input id="inputCdoia" type="number" min="1" value="1" />
                                    <i id="addCdoia" class="fa fa-plus-circle" aria-hidden="true"></i>
                                </a>
                                <a id="alertTblCdoia"></a>
                            </td>
                        </tr>
                        </thead>
                        <tbody id="tblCdoiaContent">
                            <!-- CONTEUDO TBL CDOIA -->
                        </tbody>
                    </table>

                </div>
                <!-- END CDOIA -->

                <div class="modal-footer p-0 m-0 mt-4">
                     <a role="button" asp-action="Detalhe" asp-controller="Analise" asp-route-id="@Model.TesteOptico.Id" id="btnRoles" class="btn btn-secondary mt-4 ms-2">Voltar</a>
                     <button type="submit" class="btn btn-primary mt-4 me-2">Inserir</button>
                </div>
            </div>
        </form>
        <!-- End Formulário-->
    </div>
</div>

@section Scripts
    {
    <script>
        //VARIAVEL GLOBAL SCOPO
        var indexRowId = 0;
        var statusCdoia = "OK";
        var cdoiaText = "";
        var cdoiaNumber = "";
        //OBJETO ARRAY CDOIA
        var objetoArraycdoia = {  
            CDOIA : [],
            CDOIAStatus : [],
            CDOIA_Obs : [],
        };

        //FUNÇÃO REPONSÁVEL PELAS ACÕES JS/JQUERY DA VIEW DETAHLE
        function AnaliseInserir() {
            //VARIAVEL GLOBAL
            var sgl = "@Model?.TesteOptico.Estacao.Sigla";
            var cdo = "@Model?.TesteOptico.CDO";
            var testeOpticoId = "@Model?.TesteOptico.Id";
          
            //RESETAR ALERT TABLE CDOIA
            $('#alertTblCdoia').empty();

            //SPINNER LOADER
            function spinnerFtth(display) {
                $(display).html(`
                          <div class= "d-flex justify-content-center">
                            <div class="spinner-border text-secondary m-5" role="status">
                                 <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                         `)
            }

            //BOTÃO ADICIONAR IMAGEM CDO PRINCIPAL
            $('#formEditar').on('change', '#files', function () {
                //GET INPUT FILE
                var files = $(this)[0].files;
                for (var i = 1; i < files.length + 1; i++) {
                    //MOSTRAR QUANTIDADE DE ARQUIVOS ADICIONADOS
                    $("#ptrTxtUpload a").text(i + " Arquivos");
                }
                
            });

            //BOTÃO ADICIONAR CDOIA
            $('#formEditar').on('click','#addCdoia', function () {
                //VARIAVEL PEGAR VALOR DO INPUT CDOIA
                cdoiaNumber = $('#inputCdoia').val();
                //TEXT LABEL CDOIA
                cdoiaText =  cdo;

                //VARIAVEL DE TESTE CASO O VALOR EXISTA
                var valorExiste = true;

                //VERIFICAR SE O VALOR JÁ EXISTE NO ARRAY
                $.each(objetoArraycdoia.CDOIA, function (index, elemento) {
                    //CASO O VALOR EXISTE
                    if (elemento === cdoiaNumber) {
                        valorExiste = false;
                        return false; 
                    }
                });

                //VERIFICAR SE O INPUT CDOIA JÁ EXISTE NA TABELA
                if(valorExiste){
                //INSERIR DADOS ARRAY
                objetoArraycdoia.CDOIA.push(cdoiaNumber);
                objetoArraycdoia.CDOIAStatus.push("OK");
                objetoArraycdoia.CDOIA_Obs.push("");

                 //RESETAR ALERT TABLE CDOIA
                $('#alertTblCdoia').empty();

                //EXIBIR TABELA CDOIA
                tableCdoia();
               
                }else{
                   //RESETAR ALERT TABLE CDOIA
                    $('#alertTblCdoia').text(`A ${cdoiaText}.${cdoiaNumber} JÁ FOI ADICIONADA!`);
                }
            });

        }(AnaliseInserir());

        function tableCdoia() {
            //LIMPAR TABELA CDOIA
            $('#tblCdoiaContent').empty();
            //PERCORRER ARRAY É PREENCHER TABLE CDOIA
            $.each(objetoArraycdoia.CDOIA, function (chave, valor) {
                // Obter os valores correspondentes das outras propriedades
                var valorStatus = objetoArraycdoia.CDOIAStatus[chave];
                var valorObs = objetoArraycdoia.CDOIA_Obs[chave];

                //CRIAR ROW DE ACORDO COM O INPUT LABEL
                var newRow = $('<tr>\
                                      <td id="txtCdoiaText" width="24%">\
                                                      <div><a>' + cdoiaText + '.' + valor + '</a></div>\
                                                    </td>\
                                                    <td width="15%">\
                                                      <a>OK</a>\
                                                      <label class="switch">\
                                                          <input id="statusCdoia'+ valor + '" type="checkbox" onClick="reply_click(' + valor + ')">\
                                                        <span class="slider round"></span>\
                                                      </label>\
                                                      <a>NOK</a>\
                                                    </td>\
                                                    <td width="19%">\
                                                      <div id="DisplayUploadTblAnalise">\
                                                        <div style="background-color:#b9b9b9; border: 1px solid #b9b9b9;">\
                                                         <i id="imgCdoia'+ valor + '" style="cursor:pointer; font-size:0.8rem;" class="fa fa-upload" aria-hidden="true"></i>\
                                                        </div>\
                                                        <div>\
                                                          <a>0 Arquivos</a>\
                                                        </div>\
                                                      </div>\
                                                    </td>\
                                                    <td id="tdCdoiaObs">\
                                                       <a>Obs:</a><input id="obsCdoia'+ valor + '" value="'+ valorObs +'" type="text" onchange="reply_click(' + valor + ')" class="form-control">\
                                                    </td>\
                                                    <td>\
                                                       <i id="excluirCdoia'+ valor + '" onClick="removeCdoia(' + valor + ')" style="cursor:pointer; font-size:0.8rem;" class="fa fa-trash" aria-hidden="true"></i>\
                                                    </td>\
                                                  </tr>');

                // Definir o estado do checkbox com base no valorStatus
                if (valorStatus === 'OK') {
                    newRow.find(`#statusCdoia${valor}`).prop('checked', false);
                } else {
                    newRow.find(`#statusCdoia${valor}`).prop('checked', true);
                }
                //ADICIONAR A LINHA A TABELA CDOIA
                $('#tblCdoiaContent').append(newRow);
            });
        }

        //PEGAR ID VALOR NA ROW TABLE CDOPIA
        function reply_click(clicked_id) {
            //PEGAR VALORES CAMPO TABELA CDOIA
            indexRowId = clicked_id;
            var obsCdoia = $(`#obsCdoia${indexRowId}`).val();

            // Selecionar o checkbox (marca como "on")
            if ($(`#statusCdoia${indexRowId}`).is(':checked')) {
                statusCdoia = "NOK";
            }else{
                statusCdoia = "OK";
            };

            // Busca pelo índice
            var indexId = $.inArray(indexRowId.toString(), objetoArraycdoia.CDOIA);

            // Verifica se o valor foi encontrado
            if (indexId !== -1) {
                objetoArraycdoia.CDOIA[indexId] = indexRowId.toString();
                objetoArraycdoia.CDOIAStatus[indexId] = statusCdoia;
                objetoArraycdoia.CDOIA_Obs[indexId] = obsCdoia;

            }

            //DEMOSTRAÇÃO SAIDA PARA INSERÇÃO
            console.log(objetoArraycdoia.CDOIA.join("|"));
            console.log(objetoArraycdoia.CDOIAStatus.join("|"));
            console.log(objetoArraycdoia.CDOIA_Obs.join("|"));
            
        }

        function removeCdoia(clicked_id) {
            //PEGAR VALORES CAMPO TABELA CDOIA
            indexRowId = clicked_id;

            // Encontrar o índice do valor a ser removido em todas as propriedades
            var index = $.inArray(indexRowId.toString(), objetoArraycdoia.CDOIA);

            console.log(index);

            if (index !== -1) {
                // Remover o valor em cada propriedade
                objetoArraycdoia.CDOIA.splice(index, 1);
                objetoArraycdoia.CDOIAStatus.splice(index, 1);
                objetoArraycdoia.CDOIA_Obs.splice(index, 1);
            }

            console.log(objetoArraycdoia);

            //ATUALIZAR TABELA CDOIA
            tableCdoia();
        }
       </script>
     }