@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<TesteOptico>

<div id="panelUpdate">

    <!-- Condição Nula do Modal -->
    @if (Model != null && Model.Any())
    {
        <div class="form-group" id="plCdo">
            <label>CDO</label>
            @Html.DropDownList("selectCdoFilter", new SelectList(ViewBag.selectCdoFilter,"CDO","CDO"), "--Todos--",new { @id="dropCdo", @class="custom-select"})
        </div>

        <div class="form-group" id="plCabo">
            <label>Cabo</label>
            @Html.DropDownList("selectCaboFilter", new SelectList(ViewBag.selectCaboFilter,"Cabo","Cabo"), "--Todos--",new { @id="dropCabo", @class="custom-select"})
        </div>

        <div class="form-group" id="plCelula">
            <label>Celula</label>
            @Html.DropDownList("selectCelulaFilter", new SelectList(ViewBag.selectCelulaFilter,"Celula","Celula"), "--Todos--",new { @id="dropCelula", @class="custom-select"})
        </div>

        <div id="metricaFtth">
            <a></a>
        </div>
    }
    <!-- End condição -->

</div>

<div id="tableUpdate">

    <table class="table">

        <tbody>
            <!-- Condição Nula do Modal -->
            @if (Model != null && Model.Any())
            {
                <!-- Interar valores e preencher grid -->
                foreach (var TesteOptico in Model)
                {
                    <tr id="effectTableFtth">
                        <td>
                            <table class="tableFtth" data-id="@TesteOptico.Id" style="cursor: pointer;">
                                <tr>
                                    <td id="rowTitle" colspan="7" align="center" style="width: 100%;">
                                        <a>@TesteOptico.Estacao.Estado.Regiao.Nome</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="rowTitle" colspan="2" align="center">
                                        <a>@TesteOptico.Estacao.Estado.Nome</a>
                                    </td>
                                    <td id="rowTitle" colspan="2" align="center">
                                        <a>@TesteOptico.Construtora.Nome - @TesteOptico.Estacao.NomeEstacao</a>
                                    </td>
                                    <td align="center">
                                        <a>Data Recebimento: @TesteOptico.DatadeRecebimento?.ToString("dd/MM/yyyy")</a>
                                    </td>
                                     <td>
                                        <a>Data Construções: @TesteOptico.DatadeConstrucao?.ToString("dd/MM/yyyy")</a>
                                    </td>
                                    <td>
                                        <a>Data Teste: @TesteOptico.DatadoTeste?.ToString("dd/MM/yyyy")</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="10%">
                                        <a>@TesteOptico.CDO</a>
                                    </td>
                                    <td width="7%">
                                        <a>Cabo: @TesteOptico.Cabo</a>
                                    </td>
                                    <td width="8%">
                                        <a>Celula: @TesteOptico.Celula</a>
                                    </td>
                                    <td width="7%">
                                        <a>UMs: @TesteOptico.TotalUms</a>
                                    </td>
                                    <td align="center" width="20%"><a>@TesteOptico.Netwin?.Tipo</a></td>
                                    <td width="20%">
                                        <a>Técnico: @TesteOptico.Tecnico</a>
                                    </td>
                                    <td width="32%">
                                        <a>Equipe: @TesteOptico.EquipedeConstrucao</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
                <!-- End Interar -->
            }
            else
            {
                <tr>
                    <td>Nenhum resultado.</td>
                </tr>
            }
            <!-- End condição -->
        </tbody>
    </table>

    <!-- Condição nula do modal e preencher paginação acaso haja (0 > 1) paginas - TesteOptico -->
    @if (Model != null && Model.Any() && Model.PageCount > 1)
    {
        <div id="paged" class="d-flex justify-content-center">
            <!-- Exibir paginação -->
            @Html.PagedListPager(
            Model, pagina => Url.Action(null , new {pagina}),
            new X.PagedList.Web.Common.PagedListRenderOptions(){
            LiElementClasses = new List<string>{"btn btn-outline-secondary btn-sm btnPaged"}
            })
            <!-- End Paginação -->
        </div>
    }
    <!-- End Condição -->
</div>




