@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Construtora>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#Chave</th>
            <th scope="col">Construtora</th>
            <th scope="col">Estação</th>
            <th scope="col">Obra</th>
            <th scope="col">CDO</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var construtora in Model)
            {
                <tr>
                    <th scope="row">@construtora.CHAVE</th>
                    <td>@construtora.Estacao?.Responsavel</td>
                    <td>@construtora.Estacao?.NomeEstacao</td>
                    <td>@construtora.TipoObra?.Nome</td>
                    <td>@construtora.CDO</td>
                </tr>
            }
        }
    </tbody>
</table>
