@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Construtora>

<table class="table">
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var construtora in Model)
            {
                <tr>
                    <th scope="row">@construtora.CHAVE</th>
                    <td>@construtora.Estacao?.Responsavel</td>
                    <td>@construtora.Estacao?.NomeEstacao</td>
                    <td>@construtora.TipoObra?.Nome</td>
                    <td>@construtora.CDO</td>
                </tr>
            }
        }
    </tbody>
</table>

<div id="paged" class="paged d-flex justify-content-center">
        @Html.PagedListPager(
            Model, pagina => Url.Action(null , new {pagina}),
            new X.PagedList.Web.Common.PagedListRenderOptions(){
            LiElementClasses = new List<string>{"btn btn-outline-secondary btn-sm"}
          })
     </div>




