@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Construtora>

<div id="panelUpdate">

    <div class="form-group" id="plCdo">
        <label>CDO</label>
        @Html.DropDownList("selectCdoFilter", new SelectList(ViewBag.selectCdoFilter,"CDO","CDO"), "--Selecionar--",new { @id="dropCdo", @class="custom-select"})
    </div>

    <div class="form-group" id="plCabo">
        <label>Cabo</label>
        @Html.DropDownList("selectCaboFilter", new SelectList(ViewBag.selectCaboFilter,"Cabo","Cabo"), "--Selecionar--",new { @id="dropCabo", @class="custom-select"})
    </div>

    <div class="form-group" id="plCelula">
        <label>Celula</label>
        @Html.DropDownList("selectCelulaFilter", new SelectList(ViewBag.selectCelulaFilter,"Celula","Celula"), "--Selecionar--",new { @id="dropCelula", @class="custom-select"})
    </div>

</div>

<div id="tableUpdate">

    <table class="table">

        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var construtora in Model)
                {
                    <tr>
                        <td>
                            <table class="tableFtth" style="cursor: pointer;">
                            <tr>
                                 <td id="rowTitle" colspan="1" width="20%" align="center">
                                    <a>@construtora.Estacao?.NomeEstacao</a>
                                </td>
                                    <td colspan="2">
                                        Cabo:<a id="trCabo">@construtora.Cabo</a>
                                    </td>
                                <td rowspan="2" width="20%" align="center" valign="baseline">
                                    <p>Data Recebimento <br />
                                    @construtora.DatadeRecebimento </p>
                                </td>
                                 <td width="25%">
                                        Data Teste:<a>@construtora.DatadoTeste</a>
                                    </td>
                                  <td width="25%">
                                        Técnico:<a>@construtora.Tecnico</a>
                                </td>
                            </tr>
                                <tr>
                                <td id="indexCdo">
                                        CDO:<a>@construtora.CDO</a>
                                </td>
                                    <td width="5%">
                                        Celula:<a id="trCelula">@construtora.Celula</a>
                                    </td>
                                    <td width="5%">
                                        UMs:<a>@construtora.TotalUms</a>
                                    </td>
                                <td>
                                        Data Construções:<a>@construtora.DatadeConstrucao</a>
                                </td>
                                  <td>
                                        Equipe:<a>@construtora.EquipedeConstrucao</a>
                                </td>
                            </tr>
                            </table>
                         </td>
                    </tr>
                }
            }
        </tbody>
    </table>

       @if (Model != null && Model.Any())
        {
        <div id="paged" class="d-flex justify-content-center">
            @Html.PagedListPager(
                Model, pagina => Url.Action(null , new {pagina}),
                new X.PagedList.Web.Common.PagedListRenderOptions(){
                LiElementClasses = new List<string>{"btn btn-outline-secondary btn-sm btnPaged"}
              })
         </div>
         }

</div>



