@model Cdo

<div id="displayDetalheFtth">
    <!-- Condição Nula do Modal -->
    @if (Model != null)
    {
        <table id="ftthDetalhe">
            <tr>
                <td width="50%">Construtora: <a>@Model.Estacao?.Responsavel</a></td>
                <td width="50%">CDO: <a>@Model.CDO</a></td>
            </tr>
            <tr>
                <td>Estação: <a>@Model.Estacao?.NomeEstacao</a></td>
                <td>Tipo Obra: <a>@Model.TipoObra?.Nome</a></td>
            </tr>
            <tr>
                <td>Cabo: <a>@Model.Cabo</a></td>
                <td>Celula: <a>@Model.Celula</a></td>
            </tr>
            <tr>
                <td>Capacinade: <a>@Model.Capacidade</a></td>
                <td>Total UMs: <a>@Model.TotalUms</a></td>
            </tr>
            <tr>
                <td colspan="2">Localização: <a>@Model.Endereco</a></td>
            </tr>
        </table>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <a role="button" id="btnRoles" asp-controller="Cdo" asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
            <a role="button" id="btnRoles" asp-controller="Cdo" asp-action="Confirmacao" asp-route-id="@Model.Id" class="btn btn-danger">Excluir</a>
        </div>
    }
    <!-- End condição -->
</div>
